# 2010 Data

## Loading data

In [1]:
import pandas as pd

df_2010 = pd.read_csv('2010 household data new 1.csv')

In [2]:
df_2010.head(15)

,Town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,"179,297","87,113","92,184","146,966","71,220","75,746","12,873","6,355","6,518","14,952","7,532","7,420","4,506","2,006","2,500"
1,Cheng San,"30,503","14,883","15,620","24,815","12,064","12,751","2,437","1,221","1,216","2,539","1,291","1,248",712,307,405
2,Chong Boon,"29,903","14,671","15,232","24,613","12,043","12,570","2,005",989,"1,016","2,625","1,346","1,279",660,293,367
3,Kebun Bahru,"25,854","12,513","13,341","20,486","9,864","10,622","2,338","1,172","1,166","2,331","1,167","1,164",699,310,389
4,Sembawang Hills,"6,851","3,261","3,590","6,008","2,830","3,178",115,58,57,526,263,263,202,110,92
5,Shangri-La,"21,071","10,345","10,726","16,511","8,083","8,428","2,049","1,023","1,026","2,034","1,035",999,477,204,273
6,Sindo,"7,287","3,520","3,767","6,431","3,109","3,322",73,32,41,518,259,259,265,120,145
7,Ang Mo Kio Town Centre,"4,982","2,419","2,563","4,302","2,100","2,202",235,108,127,296,142,154,149,69,80
8,Townsville,"21,403","10,270","11,133","17,788","8,543","9,245","1,452",691,761,"1,683",823,860,480,213,267
9,Yio Chu Kang,"31,443","15,231","16,212","26,012","12,584","13,428","2,169","1,061","1,108","2,400","1,206","1,194",862,380,482
10,Bedok,"294,519","144,400","150,119","209,892","102,310","107,582","47,179","23,178","24,001","25,348","13,028","12,320","12,100","5,884","6,216"
11,Bayshore,"6,497","3,118","3,379","4,661","2,173","2,488",117,46,71,"1,017",523,494,702,376,326
12,Bedok North,"91,139","44,879","46,260","62,739","30,784","31,955","18,472","9,192","9,280","6,993","3,554","3,439","2,935","1,349","1,586"
13,Bedok Reservoir,"23,076","11,462","11,614","16,590","8,235","8,355","4,152","2,053","2,099","1,629",855,774,705,319,386
14,Bedok South,"52,313","25,584","26,729","39,911","19,349","20,562","6,206","3,043","3,163","3,660","1,913","1,747","2,536","1,279","1,257"

## Cleaning dataset for 2010

In [3]:
def clean(text):
    cleaned = text[9:-1]
    return cleaned 
df_2010['Town'] = df_2010['Town'].apply(clean)

In [4]:
def checkfirst(text):
    if text[0].isalpha():
        return True
    return False
town_list = []
sub_town = []
curr_town = ""
     
for i in df_2010['Town']:
    if i[0].isalpha():
        curr_town = i.strip()
        town_list.append(curr_town)
        sub_town.append(curr_town)
    else:
        town_list.append(curr_town)
        sub_town.append(i.strip())

In [5]:
df_2010['main_town'] = pd.DataFrame(town_list)
df_2010['sub_town'] = pd.DataFrame(sub_town)

In [6]:
cols = ['main_town',
       'sub_town','Town', ' Total ', ' Total Males ', 'Total Females ', ' Total Chinese',
       'Chinese Males ', 'Chinese Females ', 'Total Malays', 'Malay Males ',
       'Malay Females ', 'Total Indians', 'Indian Males ', 'Indian Females ',
       'Total Others ', 'Other Males ', 'Other Females ']
df_2010 = df_2010[cols]
df_2010.columns = ['main_town',
       'sub_town','Town', 'Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

In [7]:
df_2010 = df_2010.drop(columns='Town')

In [8]:
df_2010.head(15)

,main_town,sub_town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,Ang Mo Kio,"179,297","87,113","92,184","146,966","71,220","75,746","12,873","6,355","6,518","14,952","7,532","7,420","4,506","2,006","2,500"
1,Ang Mo Kio,Cheng San,"30,503","14,883","15,620","24,815","12,064","12,751","2,437","1,221","1,216","2,539","1,291","1,248",712,307,405
2,Ang Mo Kio,Chong Boon,"29,903","14,671","15,232","24,613","12,043","12,570","2,005",989,"1,016","2,625","1,346","1,279",660,293,367
3,Ang Mo Kio,Kebun Bahru,"25,854","12,513","13,341","20,486","9,864","10,622","2,338","1,172","1,166","2,331","1,167","1,164",699,310,389
4,Ang Mo Kio,Sembawang Hills,"6,851","3,261","3,590","6,008","2,830","3,178",115,58,57,526,263,263,202,110,92
5,Ang Mo Kio,Shangri-La,"21,071","10,345","10,726","16,511","8,083","8,428","2,049","1,023","1,026","2,034","1,035",999,477,204,273
6,Ang Mo Kio,Sindo,"7,287","3,520","3,767","6,431","3,109","3,322",73,32,41,518,259,259,265,120,145
7,Ang Mo Kio,Ang Mo Kio Town Centre,"4,982","2,419","2,563","4,302","2,100","2,202",235,108,127,296,142,154,149,69,80
8,Ang Mo Kio,Townsville,"21,403","10,270","11,133","17,788","8,543","9,245","1,452",691,761,"1,683",823,860,480,213,267
9,Ang Mo Kio,Yio Chu Kang,"31,443","15,231","16,212","26,012","12,584","13,428","2,169","1,061","1,108","2,400","1,206","1,194",862,380,482
10,Bedok,Bedok,"294,519","144,400","150,119","209,892","102,310","107,582","47,179","23,178","24,001","25,348","13,028","12,320","12,100","5,884","6,216"
11,Bedok,Bayshore,"6,497","3,118","3,379","4,661","2,173","2,488",117,46,71,"1,017",523,494,702,376,326
12,Bedok,Bedok North,"91,139","44,879","46,260","62,739","30,784","31,955","18,472","9,192","9,280","6,993","3,554","3,439","2,935","1,349","1,586"
13,Bedok,Bedok Reservoir,"23,076","11,462","11,614","16,590","8,235","8,355","4,152","2,053","2,099","1,629",855,774,705,319,386
14,Bedok,Bedok South,"52,313","25,584","26,729","39,911","19,349","20,562","6,206","3,043","3,163","3,660","1,913","1,747","2,536","1,279","1,257"

In [9]:
import re
def clean_comma(text):
    cleaned = re.sub(',', '',text)
    return int(cleaned)
data_2010 = df_2010.replace(' - ','0')
data_2010 = data_2010.replace(" NaN ", '0')
data_2010.drop('Total', axis=1,inplace= True)

cols = ['Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']
for i in cols:  
    data_2010[i] = data_2010[i].apply(clean_comma)

## Grouping subtowns into their main towns

In [10]:
df_grpby_2010 = data_2010.groupby(['main_town','sub_town']).sum()

In [11]:
grpby_dict = df_grpby_2010.to_dict()

# 2015 Data

## Loading data

In [12]:
import pandas as pd

df_2015 = pd.read_csv('2015 household data new.csv')
df_2015.head()

,Town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,"174,770","84,220","90,550","143,290","68,860","74,430","13,060","6,430","6,640","14,150","7,050","7,100","4,270","1,890","2,390"
1,Ang Mo Kio Town Centre,"5,020","2,370","2,640","4,260","2,020","2,240",210,90,120,360,170,190,190,100,90
2,Cheng San,"29,770","14,400","15,370","24,660","11,890","12,770","2,140","1,080","1,060","2,380","1,210","1,170",600,230,370
3,Chong Boon,"27,900","13,590","14,310","22,910","11,150","11,760","1,950",950,"1,010","2,400","1,230","1,170",630,260,370
4,Kebun Bahru,"23,910","11,450","12,460","19,210","9,160","10,060","2,200","1,090","1,110","1,910",940,960,590,270,330

## Cleaning data

In [13]:
def clean(text):
    cleaned = text[5:]
    return cleaned 
df_2015['Town'] = df_2015['Town'].apply(clean)

In [14]:
town_list = []
sub_town = []
curr_town = ''
for i in df_2015['Town']:
    if i[0].isalpha():
        curr_town = i.strip()
        town_list.append(curr_town)
        sub_town.append(curr_town)
    else:
        town_list.append(curr_town)
        sub_town.append(i.strip())

In [15]:
# for i in range(len(town_list)):
#     if town_list[i] != None:
#         town_list[i] = town_list[i][0:-7]

In [16]:
df_2015['main_town'] = pd.DataFrame(town_list)
df_2015['sub_town'] = pd.DataFrame(sub_town)

In [17]:
cols = ['main_town',
       'sub_town','Town', ' Total ', ' Total Males ', 'Total Females ', ' Total Chinese',
       'Chinese Males ', 'Chinese Females ', 'Total Malays', 'Malay Males ',
       'Malay Females ', 'Total Indians', 'Indian Males ', 'Indian Females ',
       'Total Others ', 'Other Males ', 'Other Females ']
df_2015 = df_2015[cols]
df_2015.columns = ['main_town',
       'sub_town','Town', 'Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

In [18]:
df_2015 = df_2015.drop(columns='Town')

In [19]:
df_2015.head(15)

,main_town,sub_town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,Ang Mo Kio,"174,770","84,220","90,550","143,290","68,860","74,430","13,060","6,430","6,640","14,150","7,050","7,100","4,270","1,890","2,390"
1,Ang Mo Kio,Ang Mo Kio Town Centre,"5,020","2,370","2,640","4,260","2,020","2,240",210,90,120,360,170,190,190,100,90
2,Ang Mo Kio,Cheng San,"29,770","14,400","15,370","24,660","11,890","12,770","2,140","1,080","1,060","2,380","1,210","1,170",600,230,370
3,Ang Mo Kio,Chong Boon,"27,900","13,590","14,310","22,910","11,150","11,760","1,950",950,"1,010","2,400","1,230","1,170",630,260,370
4,Ang Mo Kio,Kebun Bahru,"23,910","11,450","12,460","19,210","9,160","10,060","2,200","1,090","1,110","1,910",940,960,590,270,330
5,Ang Mo Kio,Sembawang Hills,"6,890","3,240","3,650","6,080","2,850","3,230",100,50,50,500,230,270,220,110,110
6,Ang Mo Kio,Shangri-La,"18,510","9,090","9,410","13,900","6,810","7,090","2,410","1,200","1,210","1,790",920,880,410,170,240
7,Ang Mo Kio,Tagore,"8,350","3,990","4,360","7,440","3,540","3,900",70,40,40,560,270,290,270,140,140
8,Ang Mo Kio,Townsville,"23,770","11,300","12,470","19,630","9,320","10,310","1,660",800,860,"1,900",930,970,580,250,330
9,Ang Mo Kio,Yio Chu Kang,30,-,-,-,-,-,-,-,-,-,-,-,-,-,-
10,Ang Mo Kio,Yio Chu Kang East,"4,080","2,020","2,060","3,620","1,790","1,830",50,30,30,300,140,160,120,60,50
11,Ang Mo Kio,Yio Chu Kang North,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
12,Ang Mo Kio,Yio Chu Kang West,"26,550","12,750","13,800","21,540","10,330","11,220","2,270","1,110","1,160","2,060","1,000","1,060",670,310,370
13,Bedok,Bedok,"289,750","141,220","148,530","208,880","101,010","107,870","43,980","21,640","22,340","25,110","12,880","12,230","11,780","5,690","6,090"
14,Bedok,Bayshore,"7,480","3,580","3,900","5,240","2,450","2,790",130,50,80,"1,360",670,680,750,410,340

In [20]:
data_2015 = df_2015.replace(' - ','0')
data_2015 = data_2015.replace(" NaN ", '0')
data_2015.drop('Total', axis=1,inplace= True)

cols = ['Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']
for i in cols:  
    data_2015[i] = data_2015[i].apply(clean_comma)

In [21]:
data_2015.head()

,main_town,sub_town,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,Ang Mo Kio,84220,90550,143290,68860,74430,13060,6430,6640,14150,7050,7100,4270,1890,2390
1,Ang Mo Kio,Ang Mo Kio Town Centre,2370,2640,4260,2020,2240,210,90,120,360,170,190,190,100,90
2,Ang Mo Kio,Cheng San,14400,15370,24660,11890,12770,2140,1080,1060,2380,1210,1170,600,230,370
3,Ang Mo Kio,Chong Boon,13590,14310,22910,11150,11760,1950,950,1010,2400,1230,1170,630,260,370
4,Ang Mo Kio,Kebun Bahru,11450,12460,19210,9160,10060,2200,1090,1110,1910,940,960,590,270,330

### Grouping subtowns into their main towns

In [22]:
df_grpby_2015 = data_2015.groupby(['main_town','sub_town'], as_index=True).sum()

In [23]:
df_grpby_2015

                                                   Total Males  Total Females  \
main_town               sub_town
Ang Mo Kio              Ang Mo Kio                       84220          90550
                        Ang Mo Kio Town Centre            2370           2640
                        Cheng San                        14400          15370
                        Chong Boon                       13590          14310
                        Kebun Bahru                      11450          12460
                        Sembawang Hills                   3240           3650
                        Shangri-La                        9090           9410
                        Tagore                            3990           4360
                        Townsville                       11300          12470
                        Yio Chu Kang                         0              0
                        Yio Chu Kang East                 2020           2060
                        Yio Chu Kang North                   0              0
                        Yio Chu Kang West                12750          13800
Bedok                   Bayshore                          3580           3900
                        Bedok                           141220         148530
                        Bedok North                      41990          43940
                        Bedok Reservoir                  12420          12980
                        Bedok South                      25010          26180
                        Frankel                          15920          17650
                        Kaki Bukit                       20220          20600
                        Kembangan                        18870          19570
                        Siglap                            3210           3720
Bishan                  Bishan                           44110          46590
                        Bishan East                      13760          15060
                        Marymount                        15650          15880
                        Upper Thomson                    14700          15640
Boon Lay                Boon Lay                             0              0
                        Liu Fang                             0              0
                        Samulun                              0              0
                        Shipyard                             0              0
...                                                        ...            ...
Tuas                    Tuas Bay                             0              0
                        Tuas North                           0              0
                        Tuas Promenade                       0              0
                        Tuas View                            0              0
                        Tuas View Extension                  0              0
Western Islands         Jurong Island and Bukom              0              0
                        Semakau                              0              0
                        Sudong                               0              0
                        Western Islands                      0              0
Western Water Catchment Western Water Catchment            800           1000
Woodlands               Greenwood Park                       0              0
                        Midview                          17780          17730
                        North Coast                       7450           7160
                        Senoko West                          0              0
                        Woodgrove                        17960          17880
                        Woodlands                       125900         124380
                        Woodlands East                   47840          47660
                        Woodlands Regional Centre            0              0
                        Woodlands South                  17970          17860
                        Woodlands West                   16850          16040
Yishun                  Khatib                            5300           5550
                        Lower Seletar                     1410           1450
                        Nee Soon                           440            470
                        Northland                        15130          15260
                        Springleaf                        1930           1940
                        Yishun                           99990         101980
                        Yishun Central                     740            750
                        Yishun East                      27190          27690
                        Yishun South                     19050          19790
                        Yishun West                      28790          29090

                                                   Total Chinese  \
main_town               sub_town
Ang Mo Kio              Ang Mo Kio                        143290
                        Ang Mo Kio Town Centre              4260
                        Cheng San                          24660
                        Chong Boon                         22910
                        Kebun Bahru                        19210
                        Sembawang Hills                     6080
                        Shangri-La                         13900
                        Tagore                              7440
                        Townsville                         19630
                        Yio Chu Kang                           0
                        Yio Chu Kang East                   3620
                        Yio Chu Kang North                     0
                        Yio Chu Kang West                  21540
Bedok                   Bayshore                            5240
                        Bedok                             208880
                        Bedok North                        59870
                        Bedok Reservoir                    18900
                        Bedok South                        39110
                        Frankel                            27430
                        Kaki Bukit                         26180
                        Kembangan                          27170
                        Siglap                              4980
Bishan                  Bishan                             77220
                        Bishan East                        24020
                        Marymount                          27090
                        Upper Thomson                      26100
Boon Lay                Boon Lay                               0
                        Liu Fang                               0
                        Samulun                                0
                        Shipyard                               0
...                                                          ...
Tuas                    Tuas Bay                               0
                        Tuas North                             0
                        Tuas Promenade                         0
                        Tuas View                              0
                        Tuas View Extension                    0
Western Islands         Jurong Island and Bukom                0
                        Semakau                                0
                        Sudong                                 0
                        Western Islands                        0
Western Water Catchment Western Water Catchment             1460
Woodlands               Greenwood Park                         0
                        Midview                            21130
                        North Coast                         8140
                        Senoko West                            0
                        Woodgrove                          22880
                        Woodlands                         153780
                        Woodlands East                     60560
                        Woodlands Regional Centre              0
                        Woodlands South                    21710
                        Woodlands West                     19310
Yishun                  Khatib                              8100
                        Lower Seletar                       2220
                        Nee Soon                             790
                        Northland                          20070
                        Springleaf                          3560
                        Yishun                            142300
                        Yishun Central                      1200
                        Yishun East                        37680
                        Yishun South                       28880
                        Yishun West                        39800

                                                   Chinese Males  \
main_town               sub_town
Ang Mo Kio              Ang Mo Kio                         68860
                        Ang Mo Kio Town Centre              2020
                        Cheng San                          11890
                        Chong Boon                         11150
                        Kebun Bahru                         9160
                        Sembawang Hills                     2850
                        Shangri-La                          6810
                        Tagore                              3540
                        Townsville                          9320
                        Yio Chu Kang                           0
                        Yio Chu Kang East                   1790
                        Yio Chu Kang North                     0
                        Yio Chu Kang West                  10330
Bedok                   Bayshore                            2450
                        Bedok                             101010
                        Bedok North                        29010
                        Bedok Reservoir                     9240
                        Bedok South                        18950
                        Frankel                            12840
                        Kaki Bukit                         12900
                        Kembangan                          13350
                        Siglap                              2270
Bishan                  Bishan                             37480
                        Bishan East                        11440
                        Marymount                          13440
                        Upper Thomson                      12600
Boon Lay                Boon Lay                               0
                        Liu Fang                               0
                        Samulun                                0
                        Shipyard                               0
...                                                          ...
Tuas                    Tuas Bay                               0
                        Tuas North                             0
                        Tuas Promenade                         0
                        Tuas View                              0
                        Tuas View Extension                    0
Western Islands         Jurong Island and Bukom                0
                        Semakau                                0
                        Sudong                                 0
                        Western Islands                        0
Western Water Catchment Western Water Catchment              640
Woodlands               Greenwood Park                         0
                        Midview                            10550
                        North Coast                         4180
                        Senoko West                            0
                        Woodgrove                          11330
                        Woodlands                          77070
                        Woodlands East                     30240
                        Woodlands Regional Centre              0
                        Woodlands South                    10790
                        Woodlands West                      9960
Yishun                  Khatib                              3980
                        Lower Seletar                       1090
                        Nee Soon                             380
                        Northland                          10020
                        Springleaf                          1780
                        Yishun                             70230
                        Yishun Central                       590
                        Yishun East                        18640
                        Yishun South                       14130
                        Yishun West                        19630

                                                   Chinese Females  \
main_town               sub_town
Ang Mo Kio              Ang Mo Kio                           74430
                        Ang Mo Kio Town Centre                2240
                        Cheng San                            12770
                        Chong Boon                           11760
                        Kebun Bahru                          10060
                        Sembawang Hills                       3230
                        Shangri-La                            7090
                        Tagore                                3900
                        Townsville                           10310
                        Yio Chu Kang                             0
                        Yio Chu Kang East                     1830
                        Yio Chu Kang North                       0
                        Yio Chu Kang West                    11220
Bedok                   Bayshore                              2790
                        Bedok                               107870
                        Bedok North                          30860
                        Bedok Reservoir                       9660
                        Bedok South                          20160
                        Frankel                              14590
                        Kaki Bukit                           13280
                        Kembangan                            13820
                        Siglap                                2710
Bishan                  Bishan                               39740
                        Bishan East                          12580
                        Marymount                            13660
                        Upper Thomson                        13500
Boon Lay                Boon Lay                                 0
                        Liu Fang                                 0
                        Samulun                                  0
                        Shipyard                                 0
...                                                            ...
Tuas                    Tuas Bay                                 0
                        Tuas North                               0
                        Tuas Promenade                           0
                        Tuas View                                0
                        Tuas View Extension                      0
Western Islands         Jurong Island and Bukom                  0
                        Semakau                                  0
                        Sudong                                   0
                        Western Islands                          0
Western Water Catchment Western Water Catchment                820
Woodlands               Greenwood Park                           0
                        Midview                              10580
                        North Coast                           3960
                        Senoko West                              0
                        Woodgrove                            11550
                        Woodlands                            76710
                        Woodlands East                       30320
                        Woodlands Regional Centre                0
                        Woodlands South                      10930
                        Woodlands West                        9350
Yishun                  Khatib                                4120
                        Lower Seletar                         1130
                        Nee Soon                               420
                        Northland                            10040
                        Springleaf                            1790
                        Yishun                               72060
                        Yishun Central                         610
                        Yishun East                          19040
                        Yishun South                         14750
                        Yishun West                          20160

                                                   Total Malays  Malay Males  \
main_town               sub_town
Ang Mo Kio              Ang Mo Kio                        13060         6430
                        Ang Mo Kio Town Centre              210           90
                        Cheng San                          2140         1080
                        Chong Boon                         1950          950
                        Kebun Bahru                        2200         1090
                        Sembawang Hills                     100           50
                        Shangri-La                         2410         1200
                        Tagore                               70           40
                        Townsville                         1660          800
                        Yio Chu Kang                          0            0
                        Yio Chu Kang East                    50           30
                        Yio Chu Kang North                    0            0
                        Yio Chu Kang West                  2270         1110
Bedok                   Bayshore                            130           50
                        Bedok                             43980        21640
                        Bedok North                       17030         8510
                        Bedok Reservoir                    3700         1810
                        Bedok South                        5890         2900
                        Frankel                            1160          520
                        Kaki Bukit                         9740         4840
                        Kembangan                          6220         2970
                        Siglap                              110           40
Bishan                  Bishan                             3760         1790
                        Bishan East                        1460          690
                        Marymount                          1270          600
                        Upper Thomson                      1040          500
Boon Lay                Boon Lay                              0            0
                        Liu Fang                              0            0
                        Samulun                               0            0
                        Shipyard                              0            0
...                                                         ...          ...
Tuas                    Tuas Bay                              0            0
                        Tuas North                            0            0
                        Tuas Promenade                        0            0

## Retrieval of only common towns

In [24]:
common_towns = ['Ang Mo Kio', 'Bukit Batok', 'Bukit Merah', 'Bukit Panjang', 'Changi', 'Choa Chu Kang', 'Clementi', 'Downtown Core', 'Geylang', 'Hougang', 'Jurong East', 'Jurong West', 'Kallang', 'Mandai', 'Marine Parade', 'Newton', 'Novena', 'Outram', 'Pasir Ris', 'Punggol']
cols = ['Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

x = pd.DataFrame()
for i in range(len(df_grpby_2015)):
    if df_grpby_2015.index[i][0] in common_towns:
        x = x.append(df_grpby_2015.iloc[i])
for i in range(len(df_grpby_2010)):
    if df_grpby_2015.index[i][0] in common_towns:
        x = x.append(df_grpby_2010.iloc[i])

In [25]:
common_towns = ['Ang Mo Kio', 'Bukit Batok', 'Bukit Merah', 'Bukit Panjang', 'Changi', 'Choa Chu Kang', 'Clementi', 'Downtown Core', 'Geylang', 'Hougang', 'Jurong East', 'Jurong West', 'Kallang', 'Mandai', 'Marine Parade', 'Newton', 'Novena', 'Outram', 'Pasir Ris', 'Punggol']
cols = ['Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

data_2010 = pd.DataFrame()
data_2015 = pd.DataFrame()
for i in range(len(df_grpby_2010)):
    if df_grpby_2010.index[i][0] in common_towns:
        data_2010 = data_2010.append(df_grpby_2010.iloc[i])

for i in range(len(df_grpby_2015)):
    if df_grpby_2015.index[i][0] in common_towns:
        data_2015 = data_2015.append(df_grpby_2015.iloc[i])

In [26]:
x = x.reset_index()

#### *condition here refers to the list of common subtowns between 2010 and 2015*

In [27]:
constant_sub_towns = pd.DataFrame(x['index'].value_counts() == 2).reset_index()
constant_sub_towns = constant_sub_towns[constant_sub_towns['index'] == True]
condition = constant_sub_towns['level_0'].values.tolist()

x[x['index'].isin(condition)].head()

,index,Chinese Females,Chinese Males,Indian Females,Indian Males,Malay Females,Malay Males,Other Females,Other Males,Total Chinese,Total Females,Total Indians,Total Malays,Total Males,Total Others
0,"(Ang Mo Kio, Ang Mo Kio)",74430.0,68860.0,7100.0,7050.0,6640.0,6430.0,2390.0,1890.0,143290.0,90550.0,14150.0,13060.0,84220.0,4270.0
1,"(Ang Mo Kio, Ang Mo Kio Town Centre)",2240.0,2020.0,190.0,170.0,120.0,90.0,90.0,100.0,4260.0,2640.0,360.0,210.0,2370.0,190.0
2,"(Ang Mo Kio, Cheng San)",12770.0,11890.0,1170.0,1210.0,1060.0,1080.0,370.0,230.0,24660.0,15370.0,2380.0,2140.0,14400.0,600.0
3,"(Ang Mo Kio, Chong Boon)",11760.0,11150.0,1170.0,1230.0,1010.0,950.0,370.0,260.0,22910.0,14310.0,2400.0,1950.0,13590.0,630.0
4,"(Ang Mo Kio, Kebun Bahru)",10060.0,9160.0,960.0,940.0,1110.0,1090.0,330.0,270.0,19210.0,12460.0,1910.0,2200.0,11450.0,590.0

In [28]:
data_2010 = data_2010.reset_index()
data_2015 = data_2015.reset_index()

In [29]:
data_2015_common = data_2015[data_2015['index'].isin(condition)].set_index("index")
data_2010_common = data_2010[data_2010['index'].isin(condition)].set_index("index")

### Obtaining the % difference between 2015 and 2010

In [31]:
perc_difference = (data_2015_common - data_2010_common)/data_2010_common * 100
perc_difference.head()

,Chinese Females,Chinese Males,Indian Females,Indian Males,Malay Females,Malay Males,Other Females,Other Males,Total Chinese,Total Females,Total Indians,Total Malays,Total Males,Total Others
index,,,,,,,,,,,,,,
"(Ang Mo Kio, Ang Mo Kio)",-1.737385,-3.313676,-4.312668,-6.399363,1.871740,1.180173,-4.400000,-5.782652,-2.501259,-1.772542,-5.363831,1.452653,-3.320974,-5.237461
"(Ang Mo Kio, Ang Mo Kio Town Centre)",1.725704,-3.809524,23.376623,19.718310,-5.511811,-16.666667,12.500000,44.927536,-0.976290,3.004292,21.621622,-10.638298,-2.025630,27.516779
"(Ang Mo Kio, Cheng San)",0.149008,-1.442308,-6.250000,-6.274206,-12.828947,-11.547912,-8.641975,-25.081433,-0.624622,-1.600512,-6.262308,-12.187115,-3.245313,-15.730337
"(Ang Mo Kio, Chong Boon)",-6.443914,-7.415096,-8.522283,-8.618128,-0.590551,-3.943377,0.817439,-11.262799,-6.919108,-6.053046,-8.571429,-2.743142,-7.368278,-4.545455
"(Ang Mo Kio, Kebun Bahru)",-5.290906,-7.137064,-17.525773,-19.451585,-4.802744,-6.996587,-15.167095,-12.903226,-6.228644,-6.603703,-18.060918,-5.902481,-8.495165,-15.593705

### Obtaining the absolute difference between 2015 and 2010

In [30]:
abs_difference = (data_2015_common - data_2010_common)

In [32]:
abs_difference.head()

,Chinese Females,Chinese Males,Indian Females,Indian Males,Malay Females,Malay Males,Other Females,Other Males,Total Chinese,Total Females,Total Indians,Total Malays,Total Males,Total Others
index,,,,,,,,,,,,,,
"(Ang Mo Kio, Ang Mo Kio)",-1316.0,-2360.0,-320.0,-482.0,122.0,75.0,-110.0,-116.0,-3676.0,-1634.0,-802.0,187.0,-2893.0,-236.0
"(Ang Mo Kio, Ang Mo Kio Town Centre)",38.0,-80.0,36.0,28.0,-7.0,-18.0,10.0,31.0,-42.0,77.0,64.0,-25.0,-49.0,41.0
"(Ang Mo Kio, Cheng San)",19.0,-174.0,-78.0,-81.0,-156.0,-141.0,-35.0,-77.0,-155.0,-250.0,-159.0,-297.0,-483.0,-112.0
"(Ang Mo Kio, Chong Boon)",-810.0,-893.0,-109.0,-116.0,-6.0,-39.0,3.0,-33.0,-1703.0,-922.0,-225.0,-55.0,-1081.0,-30.0
"(Ang Mo Kio, Kebun Bahru)",-562.0,-704.0,-204.0,-227.0,-56.0,-82.0,-59.0,-40.0,-1276.0,-881.0,-421.0,-138.0,-1063.0,-109.0

In [33]:
difference_df = df_grpby_2015-df_grpby_2010

In [34]:
difference_clean = difference_df.dropna()

In [35]:
difference_clean.columns
difference_clean.drop(['Total Males',"Total Females","Total Chinese", "Total Malays","Total Indians","Total Others"], axis = 1,inplace=True)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [36]:
# difference_clean[['Chinese Males', "Chinese Females"]]

In [37]:
difference_df_perc = (df_grpby_2015-df_grpby_2010)/df_grpby_2010*100
# difference_df_perc.head()
difference_df_perc.dropna(inplace=True)
difference_df_perc.drop(['Total Males',"Total Females","Total Chinese", "Total Malays","Total Indians","Total Others"], axis = 1,inplace=True)
difference_df_perc.head()

                                   Chinese Males  Chinese Females  \
main_town  sub_town
Ang Mo Kio Ang Mo Kio                  -3.313676        -1.737385
           Ang Mo Kio Town Centre      -3.809524         1.725704
           Cheng San                   -1.442308         0.149008
           Chong Boon                  -7.415096        -6.443914
           Kebun Bahru                 -7.137064        -5.290906

                                   Malay Males  Malay Females  Indian Males  \
main_town  sub_town
Ang Mo Kio Ang Mo Kio                 1.180173       1.871740     -6.399363
           Ang Mo Kio Town Centre   -16.666667      -5.511811     19.718310
           Cheng San                -11.547912     -12.828947     -6.274206
           Chong Boon                -3.943377      -0.590551     -8.618128
           Kebun Bahru               -6.996587      -4.802744    -19.451585

                                   Indian Females  Other Males  Other Females
main_town  sub_town
Ang Mo Kio Ang Mo Kio                   -4.312668    -5.782652      -4.400000
           Ang Mo Kio Town Centre       23.376623    44.927536      12.500000
           Cheng San                    -6.250000   -25.081433      -8.641975
           Chong Boon                   -8.522283   -11.262799       0.817439
           Kebun Bahru                 -17.525773   -12.903226     -15.167095

In [42]:
def summation(col1, col2):
    if col1 < 0 and col2 < 0:
        return col1 - col2
    else:
        return col1 + col2 

net_change_df = pd.DataFrame(difference_clean[['Chinese Males', "Chinese Females"]].apply(lambda x: summation(x['Chinese Males'],x['Chinese Females']),axis =1),columns=["net_change"])
# pd.DataFrame(difference_clean[['Chinese Males', "Chinese Females"]].iloc[0]).T
display(net_change_df.head())
main_town_net_change_df = net_change_df.reset_index().groupby('main_town').sum()
display(main_town_net_change_df.head())

                                   net_change
main_town  sub_town
Ang Mo Kio Ang Mo Kio                 -1044.0
           Ang Mo Kio Town Centre       -42.0
           Cheng San                   -155.0
           Chong Boon                   -83.0
           Kebun Bahru                 -142.0

             net_change
main_town
Ang Mo Kio       1357.0
Bedok            2876.0
Bishan           1918.0
Bukit Batok       933.0
Bukit Merah      3123.0

In [39]:
net_change_perc_df = pd.DataFrame(difference_df_perc[['Chinese Males', "Chinese Females"]].apply(lambda x: summation(x['Chinese Males'],x['Chinese Females']),axis =1),columns=["net_change_perc"])
display(net_change_perc_df.head())
main_town_net_change_perc = net_change_perc_df.reset_index().groupby('main_town').sum()
display(main_town_net_change_perc.head())

                                   net_change_perc
main_town  sub_town
Ang Mo Kio Ang Mo Kio                    -1.576290
           Ang Mo Kio Town Centre        -2.083820
           Cheng San                     -1.293300
           Chong Boon                    -0.971182
           Kebun Bahru                   -1.846158

             net_change_perc
main_town
Ang Mo Kio         15.313668
Bedok              62.475582
Bishan             15.387009
Bukit Batok        27.644361
Bukit Merah       200.176911

## Transferred table from Election_statistics file
#### This table is the subtraction result between 2015 and 2011

In [40]:
df_elec_stats = pd.DataFrame({'vote_count': {('Aljunied', 'GRC', 'WP'): -2239.0,
  ('Ang Mo Kio', 'GRC', 'RP'): 22639.0,
  ('Bishan-Toa Payoh', 'GRC', 'SPP'): 24316.0,
  ('Bukit Panjang', 'SMC', 'SDP'): 1579.0,
  ('Chua Chu Kang', 'GRC', 'PAP'): "nan",
  ('Chua Chu Kang', 'GRC', 'PPP'): "nan",
  ('East Coast', 'GRC', 'WP'): -4899.0,
  ('Holland-Bukit Timah', 'GRC', 'SDP'): 14013.0,
  ('Hong Kah North', 'SMC', 'SPP'): 1472.0,
  ('Hougang', 'SMC', 'WP'): -1823.0,
  ('Jurong', 'GRC', 'PAP'): "nan",
  ('Jurong', 'GRC', 'SGF'): "nan",
  ('Marine Parade', 'GRC', 'PAP'): "nan",
  ('Marine Parade', 'GRC', 'WP'): "nan",
  ('Mountbatten', 'SMC', 'PAP'): "nan",
  ('Mountbatten', 'SMC', 'SPP'): "nan",
  ('Nee Soon', 'GRC', 'WP'): 1547.0,
  ('Pasir Ris-Punggol', 'GRC', 'SDA'): 24673.0,
  ('Pioneer', 'SMC', 'PAP'): 3424.0,
  ('Potong Pasir', 'SMC', 'SPP'): 2610.0,
  ('Punggol East', 'SMC', 'WP'): -17.0,
  ('Radin Mas', 'SMC', 'PAP'): "nan",
  ('Radin Mas', 'SMC', 'RP'): "nan",
  ('Sembawang', 'GRC', 'PAP'): "nan",
  ('Sembawang', 'GRC', 'SDP'): "nan",
  ('Sengkang West', 'SMC', 'WP'): 2897.0,
  ('Tampines', 'GRC', 'PAP'): 22577.0,
  ('Tanjong Pagar', 'GRC', 'PAP'): "nan",
  ('Tanjong Pagar', 'GRC', 'SGF'): "nan",
  ('West Coast', 'GRC', 'RP'): -1349.0,
  ('Yuhua', 'SMC', 'SDP'): 1231.0},
 'vote_percentage': {('Aljunied', 'GRC', 'WP'): -0.03759999999999997,
  ('Ang Mo Kio', 'GRC', 'RP'): 0.09309999999999996,
  ('Bishan-Toa Payoh', 'GRC', 'SPP'): 0.16659999999999997,
  ('Bukit Panjang', 'SMC', 'SDP'): 0.021100000000000008,
  ('Chua Chu Kang', 'GRC', 'PAP'): "nan",
  ('Chua Chu Kang', 'GRC', 'PPP'): "nan",
  ('East Coast', 'GRC', 'WP'): 0.05899999999999994,
  ('Holland-Bukit Timah', 'GRC', 'SDP'): 0.06520000000000004,
  ('Hong Kah North', 'SMC', 'SPP'): 0.04150000000000009,
  ('Hougang', 'SMC', 'WP'): -0.07140000000000002,
  ('Jurong', 'GRC', 'PAP'): "nan",
  ('Jurong', 'GRC', 'SGF'): "nan",
  ('Marine Parade', 'GRC', 'PAP'): "nan",
  ('Marine Parade', 'GRC', 'WP'): "nan",
  ('Mountbatten', 'SMC', 'PAP'): "nan",
  ('Mountbatten', 'SMC', 'SPP'): "nan",
  ('Nee Soon', 'GRC', 'WP'): 0.08430000000000004,
  ('Pasir Ris-Punggol', 'GRC', 'SDA'): 0.08099999999999996,
  ('Pioneer', 'SMC', 'PAP'): 0.1562,
  ('Potong Pasir', 'SMC', 'SPP'): 0.1603,
  ('Punggol East', 'SMC', 'WP'): -0.027699999999999947,
  ('Radin Mas', 'SMC', 'PAP'): "nan",
  ('Radin Mas', 'SMC', 'RP'): "nan",
  ('Sembawang', 'GRC', 'PAP'): "nan",
  ('Sembawang', 'GRC', 'SDP'): "nan",
  ('Sengkang West', 'SMC', 'WP'): 0.040200000000000014,
  ('Tampines', 'GRC', 'PAP'): 0.14849999999999997,
  ('Tanjong Pagar', 'GRC', 'PAP'): "nan",
  ('Tanjong Pagar', 'GRC', 'SGF'): "nan",
  ('West Coast', 'GRC', 'RP'): 0.12,
  ('Yuhua', 'SMC', 'SDP'): 0.06690000000000007}})

In [41]:
df_elec_stats_1 = df_elec_stats[df_elec_stats['vote_count'] != 'nan']
df_elec_stats_1

                            vote_count vote_percentage
Aljunied            GRC WP       -2239         -0.0376
Ang Mo Kio          GRC RP       22639          0.0931
Bishan-Toa Payoh    GRC SPP      24316          0.1666
Bukit Panjang       SMC SDP       1579          0.0211
East Coast          GRC WP       -4899           0.059
Holland-Bukit Timah GRC SDP      14013          0.0652
Hong Kah North      SMC SPP       1472          0.0415
Hougang             SMC WP       -1823         -0.0714
Nee Soon            GRC WP        1547          0.0843
Pasir Ris-Punggol   GRC SDA      24673           0.081
Pioneer             SMC PAP       3424          0.1562
Potong Pasir        SMC SPP       2610          0.1603
Punggol East        SMC WP         -17         -0.0277
Sengkang West       SMC WP        2897          0.0402
Tampines            GRC PAP      22577          0.1485
West Coast          GRC RP       -1349            0.12
Yuhua               SMC SDP       1231          0.0669

In [42]:
import statsmodels.api as sm

In [47]:
main_town_net_change_perc.to_dict()['net_change_perc'].keys()

dict_keys(['Ang Mo Kio', 'Bedok', 'Bishan', 'Bukit Batok', 'Bukit Merah', 'Bukit Panjang', 'Bukit Timah', 'Changi', 'Choa Chu Kang', 'Clementi', 'Downtown Core', 'Geylang', 'Hougang', 'Jurong East', 'Jurong West', 'Kallang', 'Mandai', 'Marine Parade', 'Newton', 'Novena', 'Outram', 'Pasir Ris', 'Punggol', 'Queenstown', 'River Valley', 'Rochor', 'Sembawang', 'Sengkang', 'Serangoon', 'Singapore River', 'Tampines', 'Tanglin', 'Toa Payoh', 'Woodlands', 'Yishun'])