# 2010 Data

## Loading data

In [10]:
import pandas as pd

df_2010 = pd.read_csv('2010 household data new.csv')

In [11]:
df_2010.head(15)

,Town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,"179,297","87,113","92,184","146,966","71,220","75,746","12,873","6,355","6,518","14,952","7,532","7,420","4,506","2,006","2,500"
1,Cheng San,"30,503","14,883","15,620","24,815","12,064","12,751","2,437","1,221","1,216","2,539","1,291","1,248",712,307,405
2,Chong Boon,"29,903","14,671","15,232","24,613","12,043","12,570","2,005",989,"1,016","2,625","1,346","1,279",660,293,367
3,Kebun Bahru,"25,854","12,513","13,341","20,486","9,864","10,622","2,338","1,172","1,166","2,331","1,167","1,164",699,310,389
4,Sembawang Hills,"6,851","3,261","3,590","6,008","2,830","3,178",115,58,57,526,263,263,202,110,92
5,Shangri-La,"21,071","10,345","10,726","16,511","8,083","8,428","2,049","1,023","1,026","2,034","1,035",999,477,204,273
6,Sindo,"7,287","3,520","3,767","6,431","3,109","3,322",73,32,41,518,259,259,265,120,145
7,Town Centre,"4,982","2,419","2,563","4,302","2,100","2,202",235,108,127,296,142,154,149,69,80
8,Townsville,"21,403","10,270","11,133","17,788","8,543","9,245","1,452",691,761,"1,683",823,860,480,213,267
9,Yio Chu Kang,"31,443","15,231","16,212","26,012","12,584","13,428","2,169","1,061","1,108","2,400","1,206","1,194",862,380,482
10,Bedok,"294,519","144,400","150,119","209,892","102,310","107,582","47,179","23,178","24,001","25,348","13,028","12,320","12,100","5,884","6,216"
11,Bayshore,"6,497","3,118","3,379","4,661","2,173","2,488",117,46,71,"1,017",523,494,702,376,326
12,Bedok North,"91,139","44,879","46,260","62,739","30,784","31,955","18,472","9,192","9,280","6,993","3,554","3,439","2,935","1,349","1,586"
13,Bedok Reservoir,"23,076","11,462","11,614","16,590","8,235","8,355","4,152","2,053","2,099","1,629",855,774,705,319,386
14,Bedok South,"52,313","25,584","26,729","39,911","19,349","20,562","6,206","3,043","3,163","3,660","1,913","1,747","2,536","1,279","1,257"

## Cleaning dataset for 2010

In [12]:
def clean(text):
    cleaned = text[9:-1]
    return cleaned 
df_2010['Town'] = df_2010['Town'].apply(clean)

In [13]:
def checkfirst(text):
    if text[0].isalpha():
        return True
    return False
town_list = []
sub_town = []
curr_town = ""
     
for i in df_2010['Town']:
    if i[0].isalpha():
        curr_town = i.strip()
        town_list.append(curr_town)
        sub_town.append(curr_town)
    else:
        town_list.append(curr_town)
        sub_town.append(i.strip())

In [14]:
df_2010['main_town'] = pd.DataFrame(town_list)
df_2010['sub_town'] = pd.DataFrame(sub_town)

In [15]:
cols = ['main_town',
       'sub_town','Town', ' Total ', ' Total Males ', 'Total Females ', ' Total Chinese',
       'Chinese Males ', 'Chinese Females ', 'Total Malays', 'Malay Males ',
       'Malay Females ', 'Total Indians', 'Indian Males ', 'Indian Females ',
       'Total Others ', 'Other Males ', 'Other Females ']
df_2010 = df_2010[cols]
df_2010.columns = ['main_town',
       'sub_town','Town', 'Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

In [16]:
df_2010 = df_2010.drop(columns='Town')

In [17]:
df_2010.head(15)

,main_town,sub_town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,Ang Mo Kio,"179,297","87,113","92,184","146,966","71,220","75,746","12,873","6,355","6,518","14,952","7,532","7,420","4,506","2,006","2,500"
1,Ang Mo Kio,Cheng San,"30,503","14,883","15,620","24,815","12,064","12,751","2,437","1,221","1,216","2,539","1,291","1,248",712,307,405
2,Ang Mo Kio,Chong Boon,"29,903","14,671","15,232","24,613","12,043","12,570","2,005",989,"1,016","2,625","1,346","1,279",660,293,367
3,Ang Mo Kio,Kebun Bahru,"25,854","12,513","13,341","20,486","9,864","10,622","2,338","1,172","1,166","2,331","1,167","1,164",699,310,389
4,Ang Mo Kio,Sembawang Hills,"6,851","3,261","3,590","6,008","2,830","3,178",115,58,57,526,263,263,202,110,92
5,Ang Mo Kio,Shangri-La,"21,071","10,345","10,726","16,511","8,083","8,428","2,049","1,023","1,026","2,034","1,035",999,477,204,273
6,Ang Mo Kio,Sindo,"7,287","3,520","3,767","6,431","3,109","3,322",73,32,41,518,259,259,265,120,145
7,Ang Mo Kio,Town Centre,"4,982","2,419","2,563","4,302","2,100","2,202",235,108,127,296,142,154,149,69,80
8,Ang Mo Kio,Townsville,"21,403","10,270","11,133","17,788","8,543","9,245","1,452",691,761,"1,683",823,860,480,213,267
9,Ang Mo Kio,Yio Chu Kang,"31,443","15,231","16,212","26,012","12,584","13,428","2,169","1,061","1,108","2,400","1,206","1,194",862,380,482
10,Bedok,Bedok,"294,519","144,400","150,119","209,892","102,310","107,582","47,179","23,178","24,001","25,348","13,028","12,320","12,100","5,884","6,216"
11,Bedok,Bayshore,"6,497","3,118","3,379","4,661","2,173","2,488",117,46,71,"1,017",523,494,702,376,326
12,Bedok,Bedok North,"91,139","44,879","46,260","62,739","30,784","31,955","18,472","9,192","9,280","6,993","3,554","3,439","2,935","1,349","1,586"
13,Bedok,Bedok Reservoir,"23,076","11,462","11,614","16,590","8,235","8,355","4,152","2,053","2,099","1,629",855,774,705,319,386
14,Bedok,Bedok South,"52,313","25,584","26,729","39,911","19,349","20,562","6,206","3,043","3,163","3,660","1,913","1,747","2,536","1,279","1,257"

In [18]:
import re
def clean_comma(text):
    cleaned = re.sub(',', '',text)
    return int(cleaned)
data_2010 = df_2010.replace(' - ','0')
data_2010 = data_2010.replace(" NaN ", '0')
data_2010.drop('Total', axis=1,inplace= True)

cols = ['Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']
for i in cols:  
    data_2010[i] = data_2010[i].apply(clean_comma)

## Grouping subtowns into their main towns

In [19]:
df_grpby_2010 = data_2010.groupby(['main_town','sub_town']).sum()

In [20]:
df_grpby_2010

                                 Total Males  Total Females  Total Chinese  \
main_town   sub_town
Ang Mo Kio  Ang Mo Kio                 87113          92184         146966
            Cheng San                  14883          15620          24815
            Chong Boon                 14671          15232          24613
            Kebun Bahru                12513          13341          20486
            Sembawang Hills             3261           3590           6008
            Shangri-La                 10345          10726          16511
            Sindo                       3520           3767           6431
            Town Centre                 2419           2563           4302
            Townsville                 10270          11133          17788
            Yio Chu Kang               15231          16212          26012
Bedok       Bayshore                    3118           3379           4661
            Bedok                     144400         150119         209892
            Bedok North                44879          46260          62739
            Bedok Reservoir            11462          11614          16590
            Bedok South                25584          26729          39911
            Frankel                    14918          16618          25557
            Kaki Bukit                 21791          21990          27734
            Kembangan                  19216          19506          27300
            Siglap                      3432           4023           5400
Bishan      Bishan                     44530          46768          77303
            Bishan East                14693          15681          25191
            Marymount                  14438          14818          24793
            Upper Thomson              15399          16269          27319
Bukit Batok Bukit Batok                71362          72836         104266
            Bukit Batok Central        13062          13491          20279
            Bukit Batok East            7994           7927           9833
            Bukit Batok South           7219           7432          10756
            Bukit Batok West            8050           8236          11336
            Gombak                      4336           4530           7310
            Guilin                      6807           7104           9939
...                                      ...            ...            ...
Tanglin     Tanglin                     8034           9259          12910
            Tyersall                    1636           1833           2582
Toa Payoh   Boon Teck                   7934           8424          12557
            Braddell                    5488           6048           9058
            Kallang                     4231           4438           7167
            Kim Keat                    4427           4558           7362
            Marymount                   6083           7129          11177
            Paya Lebar                  3430           3422           5843
            Pei Chun                    5970           6347          10147
            Potong Pasir                6655           6664          10711
            Sennett                     2119           2307           4008
            Toa Payoh                  59924          64729         101947
            Toa Payoh Central          12690          14478          22317
            Woodleigh                    892            909           1596
Woodlands   Midview                    17395          17234          20436
            North Coast                 7728           7543           8797
            Woodgrove                  17758          17750          21941
            Woodlands                 123661         121448         149494
            Woodlands East             48091          47310          59284
            Woodlands South            16425          16273          19934
            Woodlands West             16240          15309          19055
Yishun      Khatib                      5695           5944           8613
            Lower Seletar                514            544            934
            Northland                  16314          16423          21414
            Springleaf                  1778           1792           3261
            Yishun                     92160          93054         128979
            Yishun Central               806            802           1275
            Yishun East                16479          16454          22247
            Yishun South               20108          20443          29325
            Yishun West                30052          30167          41111

                                 Chinese Males  Chinese Females  Total Malays  \
main_town   sub_town
Ang Mo Kio  Ang Mo Kio                   71220            75746         12873
            Cheng San                    12064            12751          2437
            Chong Boon                   12043            12570          2005
            Kebun Bahru                   9864            10622          2338
            Sembawang Hills               2830             3178           115
            Shangri-La                    8083             8428          2049
            Sindo                         3109             3322            73
            Town Centre                   2100             2202           235
            Townsville                    8543             9245          1452
            Yio Chu Kang                 12584            13428          2169
Bedok       Bayshore                      2173             2488           117
            Bedok                       102310           107582         47179
            Bedok North                  30784            31955         18472
            Bedok Reservoir               8235             8355          4152
            Bedok South                  19349            20562          6206
            Frankel                      11986            13571          1213
            Kaki Bukit                   13737            13997         10614
            Kembangan                    13592            13708          6249
            Siglap                        2454             2946           156
Bishan      Bishan                       37619            39684          4045
            Bishan East                  12157            13034          1632
            Marymount                    12231            12562          1411
            Upper Thomson                13231            14088          1002
Bukit Batok Bukit Batok                  51231            53035         20482
            Bukit Batok Central           9930            10349          3149
            Bukit Batok East              4861             4972          3303
            Bukit Batok South             5289             5467          1771
            Bukit Batok West              5548             5788          2529
            Gombak                        3584             3726           758
            Guilin                        4821             5118          2055
...                                        ...              ...           ...
Tanglin     Tanglin                       5876             7034           194
            Tyersall                      1207             1375            50
Toa Payoh   Boon Teck                     6077             6480          2067
            Braddell                      4269             4789          1347
            Kallang                       3491             3676           786
            Kim Keat                      3635             3727           545
            Marymount                     5105             6072           575
            Paya Lebar                    2915             2928           266
            Pei Chun                      4900             5247          1010
            Potong Pasir                  5322             5389           766
            Sennett                       1915             2093            59
            Toa Payoh                    48825            53122          9621
            Toa Payoh Central            10403            11914          2194
            Woodleigh                      791              805             6
Woodlands   Midview                      10272            10164          9883
            North Coast                   4473             4324          4277
            Woodgrove                    10893            11048          8901
            Woodlands                    75088            74406         62007
            Woodlands East               29622            29662         22164
            Woodlands South               9944             9990          8448
            Woodlands West                9865             9190          8333
Yishun      Khatib                        4234             4379          1517
            Lower Seletar                  454              480            33
            Northland                    10651            10763          6631
            Springleaf                    1623             1638            33
            Yishun                       63977            65002         31104
            Yishun Central                 628              647           150
            Yishun East                  11112            11135          6188
            Yishun South                 14492            14833          5651
            Yishun West                  20417            20694         10865

                                 Malay Males  Malay Females  Total Indians  \
main_town   sub_town
Ang Mo Kio  Ang Mo Kio                  6355           6518          14952
            Cheng San                   1221           1216           2539
            Chong Boon                   989           1016           2625
            Kebun Bahru                 1172           1166           2331
            Sembawang Hills               58             57            526
            Shangri-La                  1023           1026           2034
            Sindo                         32             41            518
            Town Centre                  108            127            296
            Townsville                   691            761           1683
            Yio Chu Kang                1061           1108           2400
Bedok       Bayshore                      46             71           1017
            Bedok                      23178          24001          25348
            Bedok North                 9192           9280           6993
            Bedok Reservoir             2053           2099           1629
            Bedok South                 3043           3163           3660
            Frankel                      547            666           2677
            Kaki Bukit                  5247           5367           4236
            Kembangan                   2992           3257           3748
            Siglap                        58             98           1388
Bishan      Bishan                      1931           2114           7223
            Bishan East                  774            858           2709
            Marymount                    676            735           2275
            Upper Thomson                481            521           2239
Bukit Batok Bukit Batok                10179          10303          15257
            Bukit Batok Central         1542           1607           2494
            Bukit Batok East            1663           1640           2395
            Bukit Batok South            854            917           1713
            Bukit Batok West            1244           1285           2071
            Gombak                       373            385            607
            Guilin                      1017           1038           1418
...                                      ...            ...            ...
Tanglin     Tanglin                       89            105           1580
            Tyersall                      21             29            300
Toa Payoh   Boon Teck                    994           1073           1347
            Braddell                     649            698            809
            Kallang                      388            398            547
            Kim Keat                     278            267            846
            Marymount                    269            306            875
            Paya Lebar                   137            129            594
            Pei Chun                     499            511            794
            Potong Pasir                 397            369           1593
            Sennett                       32             27            244
            Toa Payoh                   4685           4936           9613
            Toa Payoh Central           1039           1155           1846
            Woodleigh                      3              3            112
Woodlands   Midview                     4915           4968           3517
            North Coast                 2150           2127           1942
            Woodgrove                   4514           4387           3693
            Woodlands                  31287          30720          27162
            Woodlands East             11183          10981          11059
            Woodlands South             4265           4183           3459
            Woodlands West              4259           4074           3487
Yishun      Khatib                       750            767           1177
            Lower Seletar                 14             19             62
            Northland                   3291           3340           3552
            Springleaf                    13             20            179
            Yishun                     15566          15538          19730
            Yishun Central                78             72            142
            Yishun East                 3095           3093           3503
            Yishun South                2853           2798           4459
            Yishun West                 5457           5408           6610

                                 Indian Males  Indian Females  Total Others  \
main_town   sub_town
Ang Mo Kio  Ang Mo Kio                   7532            7420          4506
            Cheng San                    1291            1248           712
            Chong Boon                   1346            1279           660
            Kebun Bahru                  1167            1164           699
            Sembawang Hills               263             263           202
            Shangri-La                   1035             999           477
            Sindo                         259             259           265
            Town Centre                   142             154           149
            Townsville                    823             860           480
            Yio Chu Kang                 1206            1194           862
Bedok       Bayshore                      523             494           702
            Bedok                       13028           12320         12100
            Bedok North                  3554            3439          2935
            Bedok Reservoir               855             774           705
            Bedok South                  1913            1747          2536
            Frankel                      1341            1336          2089
            Kaki Bukit                   2232            2004          1197
            Kembangan                    1944            1804          1425
            Siglap                        666             722           511
Bishan      Bishan                       3660            3563          2727
            Bishan East                  1374            1335           842
            Marymount                    1162            1113           777
            Upper Thomson                1124            1115          1108
Bukit Batok Bukit Batok                  7942            7315          4193
            Bukit Batok Central          1284            1210           631
            Bukit Batok East             1287            1108           390
            Bukit Batok South             870             843           411
            Bukit Batok West             1100             971           350
            Gombak                        291             316           191
            Guilin                        723             695           499
...                                       ...             ...           ...
Tanglin     Tanglin                       768             812          2609
            Tyersall                      148             152           537
Toa Payoh   Boon Teck                     703             644           387
            Braddell                      423             386           322
            Kallang                       282             265           169
            Kim Keat                      422             424           232
            Marymount                     443             432           585
            Paya Lebar                    306             288           149
            Pei Chun                      415             379           366
            Potong Pasir                  823             770           249
            Sennett                       127             117           115
            Toa Payoh                    4898            4715          3472
            Toa Payoh Central             896             950           811
            Woodleigh                      55              57            87
Woodlands   Midview                      1838            1679           793
            North Coast                   994             948           255
            Woodgrove                    1907            1786           973
            Woodlands                   14229           12933          6446
            Woodlands East               5864            5195          2894
            Woodlands South              1801            1658           857
            Woodlands West               1821            1666           674
Yishun      Khatib                        564             613           332
            Lower Seletar                  29              33            29
            Northland                    1839            1713          1140
            Springleaf                     97              82            97
            Yishun                      10082            9648          5401
            Yishun Central                 79              63            41
            Yishun East                  1804            1699           995
            Yishun South                 2260            2199          1116
            Yishun West                  3385            3225          1633

                                 Other Males  Other Females
main_town   sub_town
Ang Mo Kio  Ang Mo Kio                  2006           2500
            Cheng San                    307            405
            Chong Boon                   293            367
            Kebun Bahru                  310            389
            Sembawang Hills              110             92
            Shangri-La                   204            273
            Sindo                        120            145
            Town Centre                   69             80
            Townsville                   213            267
            Yio Chu Kang                 380            482
Bedok       Bayshore                     376            326
            Bedok                       5884           6216
            Bedok North                 1349           1586
            Bedok Reservoir              319            386
            Bedok South                 1279           1257
            Frankel                     1044           1045

# 2015 Data

## Loading data

In [21]:
import pandas as pd

df_2015 = pd.read_csv('2015 household data.csv')
df_2015.head()

,Town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio- Total,"174,770","84,220","90,550","143,290","68,860","74,430","13,060","6,430","6,640","14,150","7,050","7,100","4,270","1,890","2,390"
1,Ang Mo Kio Town Centre,"5,020","2,370","2,640","4,260","2,020","2,240",210,90,120,360,170,190,190,100,90
2,Cheng San,"29,770","14,400","15,370","24,660","11,890","12,770","2,140","1,080","1,060","2,380","1,210","1,170",600,230,370
3,Chong Boon,"27,900","13,590","14,310","22,910","11,150","11,760","1,950",950,"1,010","2,400","1,230","1,170",630,260,370
4,Kebun Bahru,"23,910","11,450","12,460","19,210","9,160","10,060","2,200","1,090","1,110","1,910",940,960,590,270,330

## Cleaning data

In [22]:
def clean(text):
    cleaned = text[5:]
    return cleaned 
df_2015['Town'] = df_2015['Town'].apply(clean)

In [23]:
town_list = []
sub_town = []
curr_town = ''
for i in df_2015['Town']:
    if i[0].isalpha():
        curr_town = i.strip()
        town_list.append(curr_town)
        sub_town.append(curr_town)
    else:
        town_list.append(curr_town)
        sub_town.append(i.strip())

In [24]:
for i in range(len(town_list)):
    if town_list[i] != None:
        town_list[i] = town_list[i][0:-7]

In [25]:
df_2015['main_town'] = pd.DataFrame(town_list)
df_2015['sub_town'] = pd.DataFrame(sub_town)

In [26]:
cols = ['main_town',
       'sub_town','Town', ' Total ', ' Total Males ', 'Total Females ', ' Total Chinese',
       'Chinese Males ', 'Chinese Females ', 'Total Malays', 'Malay Males ',
       'Malay Females ', 'Total Indians', 'Indian Males ', 'Indian Females ',
       'Total Others ', 'Other Males ', 'Other Females ']
df_2015 = df_2015[cols]
df_2015.columns = ['main_town',
       'sub_town','Town', 'Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

In [27]:
df_2015 = df_2015.drop(columns='Town')

In [28]:
df_2015.head(15)

,main_town,sub_town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,Ang Mo Kio- Total,"174,770","84,220","90,550","143,290","68,860","74,430","13,060","6,430","6,640","14,150","7,050","7,100","4,270","1,890","2,390"
1,Ang Mo Kio,Ang Mo Kio Town Centre,"5,020","2,370","2,640","4,260","2,020","2,240",210,90,120,360,170,190,190,100,90
2,Ang Mo Kio,Cheng San,"29,770","14,400","15,370","24,660","11,890","12,770","2,140","1,080","1,060","2,380","1,210","1,170",600,230,370
3,Ang Mo Kio,Chong Boon,"27,900","13,590","14,310","22,910","11,150","11,760","1,950",950,"1,010","2,400","1,230","1,170",630,260,370
4,Ang Mo Kio,Kebun Bahru,"23,910","11,450","12,460","19,210","9,160","10,060","2,200","1,090","1,110","1,910",940,960,590,270,330
5,Ang Mo Kio,Sembawang Hills,"6,890","3,240","3,650","6,080","2,850","3,230",100,50,50,500,230,270,220,110,110
6,Ang Mo Kio,Shangri-La,"18,510","9,090","9,410","13,900","6,810","7,090","2,410","1,200","1,210","1,790",920,880,410,170,240
7,Ang Mo Kio,Tagore,"8,350","3,990","4,360","7,440","3,540","3,900",70,40,40,560,270,290,270,140,140
8,Ang Mo Kio,Townsville,"23,770","11,300","12,470","19,630","9,320","10,310","1,660",800,860,"1,900",930,970,580,250,330
9,Ang Mo Kio,Yio Chu Kang,30,-,-,-,-,-,-,-,-,-,-,-,-,-,-
10,Ang Mo Kio,Yio Chu Kang East,"4,080","2,020","2,060","3,620","1,790","1,830",50,30,30,300,140,160,120,60,50
11,Ang Mo Kio,Yio Chu Kang North,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
12,Ang Mo Kio,Yio Chu Kang West,"26,550","12,750","13,800","21,540","10,330","11,220","2,270","1,110","1,160","2,060","1,000","1,060",670,310,370
13,Bedok,Bedok- Total,"289,750","141,220","148,530","208,880","101,010","107,870","43,980","21,640","22,340","25,110","12,880","12,230","11,780","5,690","6,090"
14,Bedok,Bayshore,"7,480","3,580","3,900","5,240","2,450","2,790",130,50,80,"1,360",670,680,750,410,340

In [29]:
data_2015 = df_2015.replace(' - ','0')
data_2015 = data_2015.replace(" NaN ", '0')
data_2015.drop('Total', axis=1,inplace= True)

cols = ['Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']
for i in cols:  
    data_2015[i] = data_2015[i].apply(clean_comma)

In [30]:
data_2015.head()

,main_town,sub_town,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio,Ang Mo Kio- Total,84220,90550,143290,68860,74430,13060,6430,6640,14150,7050,7100,4270,1890,2390
1,Ang Mo Kio,Ang Mo Kio Town Centre,2370,2640,4260,2020,2240,210,90,120,360,170,190,190,100,90
2,Ang Mo Kio,Cheng San,14400,15370,24660,11890,12770,2140,1080,1060,2380,1210,1170,600,230,370
3,Ang Mo Kio,Chong Boon,13590,14310,22910,11150,11760,1950,950,1010,2400,1230,1170,630,260,370
4,Ang Mo Kio,Kebun Bahru,11450,12460,19210,9160,10060,2200,1090,1110,1910,940,960,590,270,330

## Grouping subtowns into their main towns

In [31]:
df_grpby_2015 = data_2015.groupby(['main_town','sub_town'], as_index=True).sum()

In [32]:
df_grpby_2015.columns

Index(['Total Males', 'Total Females', 'Total Chinese', 'Chinese Males',
       'Chinese Females', 'Total Malays', 'Malay Males', 'Malay Females',
       'Total Indians', 'Indian Males', 'Indian Females', 'Total Others',
       'Other Males', 'Other Females'],
      dtype='object')

## Retrieval of only common towns

In [33]:
common_towns = ['Ang Mo Kio', 'Bukit Batok', 'Bukit Merah', 'Bukit Panjang', 'Changi', 'Choa Chu Kang', 'Clementi', 'Downtown Core', 'Geylang', 'Hougang', 'Jurong East', 'Jurong West', 'Kallang', 'Mandai', 'Marine Parade', 'Newton', 'Novena', 'Outram', 'Pasir Ris', 'Punggol']
cols = ['Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

x = pd.DataFrame()
for i in range(len(df_grpby_2015)):
    if df_grpby_2015.index[i][0] in common_towns:
        x = x.append(df_grpby_2015.iloc[i])
for i in range(len(df_grpby_2010)):
    if df_grpby_2015.index[i][0] in common_towns:
        x = x.append(df_grpby_2010.iloc[i])

In [34]:
common_towns = ['Ang Mo Kio', 'Bukit Batok', 'Bukit Merah', 'Bukit Panjang', 'Changi', 'Choa Chu Kang', 'Clementi', 'Downtown Core', 'Geylang', 'Hougang', 'Jurong East', 'Jurong West', 'Kallang', 'Mandai', 'Marine Parade', 'Newton', 'Novena', 'Outram', 'Pasir Ris', 'Punggol']
cols = ['Total', 'Total Males', 'Total Females', 'Total Chinese',
       'Chinese Males', 'Chinese Females', 'Total Malays', 'Malay Males',
       'Malay Females', 'Total Indians', 'Indian Males', 'Indian Females',
       'Total Others', 'Other Males', 'Other Females']

data_2010 = pd.DataFrame()
data_2015 = pd.DataFrame()
for i in range(len(df_grpby_2010)):
    if df_grpby_2010.index[i][0] in common_towns:
        data_2010 = data_2010.append(df_grpby_2010.iloc[i])

for i in range(len(df_grpby_2015)):
    if df_grpby_2015.index[i][0] in common_towns:
        data_2015 = data_2015.append(df_grpby_2015.iloc[i])

In [35]:
x = x.reset_index()

#### *condition here refers to the list of common subtowns between 2010 and 2015*

In [36]:
constant_sub_towns = pd.DataFrame(x['index'].value_counts() == 2).reset_index()
constant_sub_towns = constant_sub_towns[constant_sub_towns['index'] == True]
condition = constant_sub_towns['level_0'].values.tolist()

x[x['index'].isin(condition)].head()

,index,Chinese Females,Chinese Males,Indian Females,Indian Males,Malay Females,Malay Males,Other Females,Other Males,Total Chinese,Total Females,Total Indians,Total Malays,Total Males,Total Others
2,"(Ang Mo Kio, Cheng San)",12770.0,11890.0,1170.0,1210.0,1060.0,1080.0,370.0,230.0,24660.0,15370.0,2380.0,2140.0,14400.0,600.0
3,"(Ang Mo Kio, Chong Boon)",11760.0,11150.0,1170.0,1230.0,1010.0,950.0,370.0,260.0,22910.0,14310.0,2400.0,1950.0,13590.0,630.0
4,"(Ang Mo Kio, Kebun Bahru)",10060.0,9160.0,960.0,940.0,1110.0,1090.0,330.0,270.0,19210.0,12460.0,1910.0,2200.0,11450.0,590.0
5,"(Ang Mo Kio, Sembawang Hills)",3230.0,2850.0,270.0,230.0,50.0,50.0,110.0,110.0,6080.0,3650.0,500.0,100.0,3240.0,220.0
6,"(Ang Mo Kio, Shangri-La)",7090.0,6810.0,880.0,920.0,1210.0,1200.0,240.0,170.0,13900.0,9410.0,1790.0,2410.0,9090.0,410.0

In [37]:
data_2010 = data_2010.reset_index()
data_2015 = data_2015.reset_index()

In [38]:
data_2015_common = data_2015[data_2015['index'].isin(condition)].set_index("index")
data_2010_common = data_2010[data_2010['index'].isin(condition)].set_index("index")

### Obtaining the % difference between 2015 and 2010

In [39]:
perc_difference = (data_2015_common - data_2010_common)/data_2010_common * 100
perc_difference.head()

,Chinese Females,Chinese Males,Indian Females,Indian Males,Malay Females,Malay Males,Other Females,Other Males,Total Chinese,Total Females,Total Indians,Total Malays,Total Males,Total Others
index,,,,,,,,,,,,,,
"(Ang Mo Kio, Cheng San)",0.149008,-1.442308,-6.250000,-6.274206,-12.828947,-11.547912,-8.641975,-25.081433,-0.624622,-1.600512,-6.262308,-12.187115,-3.245313,-15.730337
"(Ang Mo Kio, Chong Boon)",-6.443914,-7.415096,-8.522283,-8.618128,-0.590551,-3.943377,0.817439,-11.262799,-6.919108,-6.053046,-8.571429,-2.743142,-7.368278,-4.545455
"(Ang Mo Kio, Kebun Bahru)",-5.290906,-7.137064,-17.525773,-19.451585,-4.802744,-6.996587,-15.167095,-12.903226,-6.228644,-6.603703,-18.060918,-5.902481,-8.495165,-15.593705
"(Ang Mo Kio, Sembawang Hills)",1.636249,0.706714,2.661597,-12.547529,-12.280702,-13.793103,19.565217,0.000000,1.198402,1.671309,-4.942966,-13.043478,-0.643974,8.910891
"(Ang Mo Kio, Shangri-La)",-15.875653,-15.749103,-11.911912,-11.111111,17.933723,17.302053,-12.087912,-16.666667,-15.813700,-12.269252,-11.996067,17.618350,-12.131464,-14.046122

### Obtaining the absolute difference between 2015 and 2010

In [40]:
abs_difference = (data_2015_common - data_2010_common)

In [41]:
abs_difference.head()

,Chinese Females,Chinese Males,Indian Females,Indian Males,Malay Females,Malay Males,Other Females,Other Males,Total Chinese,Total Females,Total Indians,Total Malays,Total Males,Total Others
index,,,,,,,,,,,,,,
"(Ang Mo Kio, Cheng San)",19.0,-174.0,-78.0,-81.0,-156.0,-141.0,-35.0,-77.0,-155.0,-250.0,-159.0,-297.0,-483.0,-112.0
"(Ang Mo Kio, Chong Boon)",-810.0,-893.0,-109.0,-116.0,-6.0,-39.0,3.0,-33.0,-1703.0,-922.0,-225.0,-55.0,-1081.0,-30.0
"(Ang Mo Kio, Kebun Bahru)",-562.0,-704.0,-204.0,-227.0,-56.0,-82.0,-59.0,-40.0,-1276.0,-881.0,-421.0,-138.0,-1063.0,-109.0
"(Ang Mo Kio, Sembawang Hills)",52.0,20.0,7.0,-33.0,-7.0,-8.0,18.0,0.0,72.0,60.0,-26.0,-15.0,-21.0,18.0
"(Ang Mo Kio, Shangri-La)",-1338.0,-1273.0,-119.0,-115.0,184.0,177.0,-33.0,-34.0,-2611.0,-1316.0,-244.0,361.0,-1255.0,-67.0

## Transferred table from Election_statistics file
#### This table is the subtraction result between 2015 and 2011

In [46]:
df_elec_stats = pd.DataFrame({'vote_count': {('Aljunied', 'GRC', 'WP'): -2239.0,
  ('Ang Mo Kio', 'GRC', 'RP'): 22639.0,
  ('Bishan-Toa Payoh', 'GRC', 'SPP'): 24316.0,
  ('Bukit Panjang', 'SMC', 'SDP'): 1579.0,
  ('Chua Chu Kang', 'GRC', 'PAP'): "nan",
  ('Chua Chu Kang', 'GRC', 'PPP'): "nan",
  ('East Coast', 'GRC', 'WP'): -4899.0,
  ('Holland-Bukit Timah', 'GRC', 'SDP'): 14013.0,
  ('Hong Kah North', 'SMC', 'SPP'): 1472.0,
  ('Hougang', 'SMC', 'WP'): -1823.0,
  ('Jurong', 'GRC', 'PAP'): "nan",
  ('Jurong', 'GRC', 'SGF'): "nan",
  ('Marine Parade', 'GRC', 'PAP'): "nan",
  ('Marine Parade', 'GRC', 'WP'): "nan",
  ('Mountbatten', 'SMC', 'PAP'): "nan",
  ('Mountbatten', 'SMC', 'SPP'): "nan",
  ('Nee Soon', 'GRC', 'WP'): 1547.0,
  ('Pasir Ris-Punggol', 'GRC', 'SDA'): 24673.0,
  ('Pioneer', 'SMC', 'PAP'): 3424.0,
  ('Potong Pasir', 'SMC', 'SPP'): 2610.0,
  ('Punggol East', 'SMC', 'WP'): -17.0,
  ('Radin Mas', 'SMC', 'PAP'): "nan",
  ('Radin Mas', 'SMC', 'RP'): "nan",
  ('Sembawang', 'GRC', 'PAP'): "nan",
  ('Sembawang', 'GRC', 'SDP'): "nan",
  ('Sengkang West', 'SMC', 'WP'): 2897.0,
  ('Tampines', 'GRC', 'PAP'): 22577.0,
  ('Tanjong Pagar', 'GRC', 'PAP'): "nan",
  ('Tanjong Pagar', 'GRC', 'SGF'): "nan",
  ('West Coast', 'GRC', 'RP'): -1349.0,
  ('Yuhua', 'SMC', 'SDP'): 1231.0},
 'vote_percentage': {('Aljunied', 'GRC', 'WP'): -0.03759999999999997,
  ('Ang Mo Kio', 'GRC', 'RP'): 0.09309999999999996,
  ('Bishan-Toa Payoh', 'GRC', 'SPP'): 0.16659999999999997,
  ('Bukit Panjang', 'SMC', 'SDP'): 0.021100000000000008,
  ('Chua Chu Kang', 'GRC', 'PAP'): "nan",
  ('Chua Chu Kang', 'GRC', 'PPP'): "nan",
  ('East Coast', 'GRC', 'WP'): 0.05899999999999994,
  ('Holland-Bukit Timah', 'GRC', 'SDP'): 0.06520000000000004,
  ('Hong Kah North', 'SMC', 'SPP'): 0.04150000000000009,
  ('Hougang', 'SMC', 'WP'): -0.07140000000000002,
  ('Jurong', 'GRC', 'PAP'): "nan",
  ('Jurong', 'GRC', 'SGF'): "nan",
  ('Marine Parade', 'GRC', 'PAP'): "nan",
  ('Marine Parade', 'GRC', 'WP'): "nan",
  ('Mountbatten', 'SMC', 'PAP'): "nan",
  ('Mountbatten', 'SMC', 'SPP'): "nan",
  ('Nee Soon', 'GRC', 'WP'): 0.08430000000000004,
  ('Pasir Ris-Punggol', 'GRC', 'SDA'): 0.08099999999999996,
  ('Pioneer', 'SMC', 'PAP'): 0.1562,
  ('Potong Pasir', 'SMC', 'SPP'): 0.1603,
  ('Punggol East', 'SMC', 'WP'): -0.027699999999999947,
  ('Radin Mas', 'SMC', 'PAP'): "nan",
  ('Radin Mas', 'SMC', 'RP'): "nan",
  ('Sembawang', 'GRC', 'PAP'): "nan",
  ('Sembawang', 'GRC', 'SDP'): "nan",
  ('Sengkang West', 'SMC', 'WP'): 0.040200000000000014,
  ('Tampines', 'GRC', 'PAP'): 0.14849999999999997,
  ('Tanjong Pagar', 'GRC', 'PAP'): "nan",
  ('Tanjong Pagar', 'GRC', 'SGF'): "nan",
  ('West Coast', 'GRC', 'RP'): 0.12,
  ('Yuhua', 'SMC', 'SDP'): 0.06690000000000007}})

In [54]:
df_elec_stats_1 = df_elec_stats[df_elec_stats['vote_count'] != 'nan']
df_elec_stats_1

                            vote_count vote_percentage
Aljunied            GRC WP       -2239         -0.0376
Ang Mo Kio          GRC RP       22639          0.0931
Bishan-Toa Payoh    GRC SPP      24316          0.1666
Bukit Panjang       SMC SDP       1579          0.0211
East Coast          GRC WP       -4899           0.059
Holland-Bukit Timah GRC SDP      14013          0.0652
Hong Kah North      SMC SPP       1472          0.0415
Hougang             SMC WP       -1823         -0.0714
Nee Soon            GRC WP        1547          0.0843
Pasir Ris-Punggol   GRC SDA      24673           0.081
Pioneer             SMC PAP       3424          0.1562
Potong Pasir        SMC SPP       2610          0.1603
Punggol East        SMC WP         -17         -0.0277
Sengkang West       SMC WP        2897          0.0402
Tampines            GRC PAP      22577          0.1485
West Coast          GRC RP       -1349            0.12
Yuhua               SMC SDP       1231          0.0669

In [55]:
import statsmodels.api as sm