In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2015 household data.csv")

In [3]:
df.head()

,Town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio- Total,"174,770","84,220","90,550","143,290","68,860","74,430","13,060","6,430","6,640","14,150","7,050","7,100","4,270","1,890","2,390"
1,Ang Mo Kio Town Centre,"5,020","2,370","2,640","4,260","2,020","2,240",210,90,120,360,170,190,190,100,90
2,Cheng San,"29,770","14,400","15,370","24,660","11,890","12,770","2,140","1,080","1,060","2,380","1,210","1,170",600,230,370
3,Chong Boon,"27,900","13,590","14,310","22,910","11,150","11,760","1,950",950,"1,010","2,400","1,230","1,170",630,260,370
4,Kebun Bahru,"23,910","11,450","12,460","19,210","9,160","10,060","2,200","1,090","1,110","1,910",940,960,590,270,330

In [4]:
df.columns = df.columns.str.strip()
#Remove extra spaces from column names so I can retrieve each column without any issues
#Part of data cleaning

In [5]:
df_copy = df.copy()

In [6]:
df_copy.Town = df_copy.Town.str.strip()

,Town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
0,Ang Mo Kio- Total,"174,770","84,220","90,550","143,290","68,860","74,430","13,060","6,430","6,640","14,150","7,050","7,100","4,270","1,890","2,390"
1,Ang Mo Kio Town Centre,"5,020","2,370","2,640","4,260","2,020","2,240",210,90,120,360,170,190,190,100,90
2,Cheng San,"29,770","14,400","15,370","24,660","11,890","12,770","2,140","1,080","1,060","2,380","1,210","1,170",600,230,370
3,Chong Boon,"27,900","13,590","14,310","22,910","11,150","11,760","1,950",950,"1,010","2,400","1,230","1,170",630,260,370
4,Kebun Bahru,"23,910","11,450","12,460","19,210","9,160","10,060","2,200","1,090","1,110","1,910",940,960,590,270,330
5,Sembawang Hills,"6,890","3,240","3,650","6,080","2,850","3,230",100,50,50,500,230,270,220,110,110
6,Shangri-La,"18,510","9,090","9,410","13,900","6,810","7,090","2,410","1,200","1,210","1,790",920,880,410,170,240
7,Tagore,"8,350","3,990","4,360","7,440","3,540","3,900",70,40,40,560,270,290,270,140,140
8,Townsville,"23,770","11,300","12,470","19,630","9,320","10,310","1,660",800,860,"1,900",930,970,580,250,330
9,Yio Chu Kang,30,-,-,-,-,-,-,-,-,-,-,-,-,-,-
10,Yio Chu Kang East,"4,080","2,020","2,060","3,620","1,790","1,830",50,30,30,300,140,160,120,60,50
11,Yio Chu Kang North,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
12,Yio Chu Kang West,"26,550","12,750","13,800","21,540","10,330","11,220","2,270","1,110","1,160","2,060","1,000","1,060",670,310,370
13,Bedok- Total,"289,750","141,220","148,530","208,880","101,010","107,870","43,980","21,640","22,340","25,110","12,880","12,230","11,780","5,690","6,090"
14,Bayshore,"7,480","3,580","3,900","5,240","2,450","2,790",130,50,80,"1,360",670,680,750,410,340
15,Bedok North,"85,930","41,990","43,940","59,870","29,010","30,860","17,030","8,510","8,520","6,430","3,310","3,120","2,600","1,150","1,450"
16,Bedok Reservoir,"25,400","12,420","12,980","18,900","9,240","9,660","3,700","1,810","1,900","2,020","1,020","1,000",770,350,420
17,Bedok South,"51,190","25,010","26,180","39,110","18,950","20,160","5,890","2,900","2,990","3,780","1,960","1,820","2,410","1,200","1,210"
18,Frankel,"33,570","15,920","17,650","27,430","12,840","14,590","1,160",520,640,"2,670","1,360","1,310","2,310","1,200","1,110"
19,Kaki Bukit,"40,820","20,220","20,600","26,180","12,900","13,280","9,740","4,840","4,910","3,780","1,980","1,800","1,120",510,610
20,Kembangan,"38,440","18,870","19,570","27,170","13,350","13,820","6,220","2,970","3,250","3,650","1,900","1,750","1,400",650,750
21,Siglap,"6,930","3,210","3,720","4,980","2,270","2,710",110,40,70,"1,420",680,730,430,220,210
22,Bishan- Total,"90,700","44,110","46,590","77,220","37,480","39,740","3,760","1,790","1,970","7,000","3,530","3,470","2,720","1,320","1,400"
23,Bishan East,"28,820","13,760","15,060","24,020","11,440","12,580","1,460",690,770,"2,560","1,280","1,280",790,360,430
24,Marymount,"31,540","15,650","15,880","27,090","13,440","13,660","1,270",600,670,"2,300","1,190","1,110",880,430,450
25,Upper Thomson,"30,340","14,700","15,640","26,100","12,600","13,500","1,040",500,540,"2,140","1,060","1,080","1,060",530,520
26,Boon Lay- Total,30,-,-,-,-,-,-,-,-,-,-,-,-,-,-
27,Liu Fang,10,-,-,-,-,-,-,-,-,-,-,-,-,-,-
28,Samulun,10,-,-,-,-,-,-,-,-,-,-,-,-,-,-
29,Shipyard,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,Tuas North,20,-,-,-,-,-,-,-,-,-,-,-,-,-,-
349,Tuas Promenade,10,-,-,-,-,-,-,-,-,-,-,-,-,-,-
350,Tuas View,10,-,-,-,-,-,-,-,-,-,-,-,-,-,-
351,Tuas View Extension,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
352,Western Islands- Total,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
353,Jurong Island and Bukom,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
354,Semakau,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
355,Sudong,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
356,Western Water Catchment- Total,900,400,500,730,320,410,-,-,-,90,40,50,70,30,40
357,Western Water Catchment,900,400,500,730,320,410,-,-,-,90,40,50,70,30,40
358,Woodlands- Total,"250,290","125,900","124,380","153,780","77,070","76,710","62,310","31,360","30,960","27,810","14,480","13,330","6,380","3,000","3,380"
359,Greenwood Park,70,-,-,-,-,-,-,-,-,-,-,-,-,-,-
360,Midview,"35,510","17,780","17,730","21,130","10,550","10,580","9,680","4,810","4,870","3,920","2,060","1,860",790,360,430
361,North Coast,"14,610","7,450","7,160","8,140","4,180","3,960","4,240","2,130","2,110","1,950","1,000",940,280,130,140
362,Senoko West,20,-,-,-,-,-,-,-,-,-,-,-,-,-,-
363,Woodgrove,"35,850","17,960","17,880","22,880","11,330","11,550","8,340","4,250","4,090","3,730","1,970","1,760",910,420,490
364,Woodlands East,"95,510","47,840","47,660","60,560","30,240","30,320","21,560","10,760","10,800","10,730","5,590","5,150","2,660","1,260","1,400"
365,Woodlands Regional Centre,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-
366,Woodlands South,"35,840","17,970","17,860","21,710","10,790","10,930","9,130","4,630","4,500","3,910","2,010","1,900","1,080",540,540
367,Woodlands West,"32,890","16,850","16,040","19,310","9,960","9,350","9,360","4,770","4,590","3,560","1,840","1,720",670,280,390
368,Yishun- Total,"201,970","99,990","101,980","142,300","70,230","72,060","33,940","16,950","16,990","20,230","10,310","9,920","5,510","2,500","3,010"
369,Khatib,"10,850","5,300","5,550","8,100","3,980","4,120","1,390",670,710,"1,050",510,550,310,150,160
370,Lower Seletar,"2,870","1,410","1,450","2,220","1,090","1,130",340,160,180,230,120,110,80,50,30
371,Nee Soon,900,440,470,790,380,420,30,10,10,50,30,20,30,20,10
372,Northland,"30,380","15,130","15,260","20,070","10,020","10,040","6,030","3,000","3,040","3,190","1,600","1,580","1,100",510,590
373,Springleaf,"3,880","1,930","1,940","3,560","1,780","1,790",30,10,20,190,100,90,100,50,50
374,Yishun Central,"1,490",740,750,"1,200",590,610,140,70,70,130,70,60,30,10,20
375,Yishun East,"54,880","27,190","27,690","37,680","18,640","19,040","10,500","5,210","5,290","5,350","2,760","2,600","1,340",590,760
376,Yishun South,"38,840","19,050","19,790","28,880","14,130","14,750","4,960","2,470","2,490","4,010","2,020","2,000",990,440,550
377,Yishun West,"57,890","28,790","29,090","39,800","19,630","20,160","10,520","5,350","5,180","6,040","3,110","2,920","1,530",700,830

In [16]:
df_copy = df_copy[~df_copy.Town.str.contains("Total")]

In [17]:
df_copy.shape

(323, 16)

In [18]:
df.shape

(378, 16)

In [19]:
df_copy.head()

,Town,Total,Total Males,Total Females,Total Chinese,Chinese Males,Chinese Females,Total Malays,Malay Males,Malay Females,Total Indians,Indian Males,Indian Females,Total Others,Other Males,Other Females
1,Ang Mo Kio Town Centre,"5,020","2,370","2,640","4,260","2,020","2,240",210,90,120,360,170,190,190,100,90
2,Cheng San,"29,770","14,400","15,370","24,660","11,890","12,770","2,140","1,080","1,060","2,380","1,210","1,170",600,230,370
3,Chong Boon,"27,900","13,590","14,310","22,910","11,150","11,760","1,950",950,"1,010","2,400","1,230","1,170",630,260,370
4,Kebun Bahru,"23,910","11,450","12,460","19,210","9,160","10,060","2,200","1,090","1,110","1,910",940,960,590,270,330
5,Sembawang Hills,"6,890","3,240","3,650","6,080","2,850","3,230",100,50,50,500,230,270,220,110,110